In [31]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as pt
import sklearn
from sklearn.datasets import load_boston
%matplotlib inline

#### Load in the Boston dataset. Get an overview of the data.

In [5]:
boston = load_boston() # dictionary

print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [10]:
bostonDF = pd.DataFrame(boston.data)
bostonDF.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
print(bostonDF.shape)

(506, 13)

In [13]:
bostonDF.columns = boston.feature_names

In [15]:
bostonDF.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
bostonDF['PRICE'] = boston.target
bostonDF.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [17]:
from sklearn.linear_model import LinearRegression

In [22]:
linreg = LinearRegression(n_jobs=(-1), )

X = bostonDF.drop(['PRICE'], axis=1)
X.head()
Y = bostonDF.PRICE

In [23]:
linreg.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [29]:
param_results = pd.DataFrame(list(zip(X.columns, linreg.coef_)))
param_results.columns = ['Features', 'Estimated Coeffs']

In [30]:
param_results

   Features  Estimated Coeffs
0      CRIM         -0.107171
1        ZN          0.046395
2     INDUS          0.020860
3      CHAS          2.688561
4       NOX        -17.795759
5        RM          3.804752
6       AGE          0.000751
7       DIS         -1.475759
8       RAD          0.305655
9       TAX         -0.012329
10  PTRATIO         -0.953464
11        B          0.009393
12    LSTAT         -0.525467